<!DOCTYPE html>
<html>
  <head>
    <title>KorGreekFoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>

  <section class="hero is-success is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="title">
              Kor Greek Products
            </h1>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span><a class="navbar-item is-active" href="<%=root_path%>">Home</a></span>
            <span><a class="navbar-item" href="<%=admin_user_session_path%>">Admin</a></span>
            <span><a class="navbar-item" href="<%=new_user_registration_path%>">Login</a></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="<%=root_path%>">Home</a>
            <a class="navbar-item" href="<%=admin_user_session_path%>">Admin</a>
            <a class="navbar-item" href="">Cart(<%=session[:user_cart].count%>)</a>
            <% if user_signed_in? %>
            <% else %>
              <a class="navbar-item" href="<%=new_user_session_path%>">Login</a>
            <% end %>

            <span class="navbar-item">
              <% if user_signed_in? %>
                <a class="navbar-item" href="<%= permalink_path('offers')%>">Offers</a>
                <%= link_to current_user.email, edit_account_path(current_user), method: :get, class: "navbar-item"%>
                <%=link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button is-link"%>
              <% else %>
                <a class="button is-link" href="<%=new_user_session_path%>">
                  <span>Create an Account</span>
                </a>
            <%end%>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <%= image_tag("Korlogo.png")%>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="<%=products_path%>">Products</a></li>
          <li><a>On Sale</a></li>
          <li><a>New Products</a></li>
          <li><a href="<%=permalink_path('contact_us')%>">Contact</a></li>
          <li><a href="<%=permalink_path('about_us')%>">About Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<% if flash[:products_added]%>
  <p><%= flash[:products_added] %></p>
<%end%>
<% if flash[:notice]%>
  <p><%=flash[:notice]%></p>
<%end%>
    <%= yield %>
    <%= render partial: "common/footer"%>
    <%= debug session[:user_cart] %>
  </body>
</html>
